<div class="modal-footer">
      <p style="text-align: center"> Bản quyền &copy; 2014 &#xb7; FIT-HANU &#xb7; Mọi quyền được bảo vệ. | <%= link_to "Điều khoản sử dụng", subpage_path(2) %> | <%= link_to "Liên hệ với chúng tôi", subpage_path(3) %></p>
</div>