<div class="modal-footer">
      <p style="text-align: center"> Bản quyền &copy; 2014 &#xb7; FIT-HANU &#xb7; Mọi quyền được bảo vệ. | <a rel="nofollow" href="#">Điều khoản sử dụng</a> | <a rel="nofollow"><%= link_to "Liên hệ với chúng tôi" %></a></p>
</div>