<div class="container">
   <div id="wrap">
    <div id="header">
      <div class="wrap">
        <div id="logo">
          <%= link_to image_tag("logo.jpg"), paintings_url %>
        </div>

      </div>
    </div>
    <div id="nav">
      <ul class="nav superfish">
        <li class="page_item"><%= link_to "Bức Họa Nổi Tiếng", paintings_path %></li>
        <li class="page_item"><%= link_to "Họa Sĩ Nổi Tiếng", artists_path %></li>
        <li class="page_item"><%= link_to "Lịch Sử Hội Họa Thế Giới", subpage_path(1) %></li>
      </ul>
    </div>
   </div>
</div>