<h1>Listing subpages</h1>

<table>
  <tr>
    <th>Page name</th>
    <th>Text</th>
  </tr>

  <% @subpages.each do |subpage| %>
      <tr>
        <td><%= link_to subpage.pagename, subpage_path(subpage) %></td>
        <td><%= subpage.text.html_safe %></td>
      </tr>
  <% end %>
</table>